@charset "utf-8";
body {
/*	background-attachment: scroll;
	background-image: url(/images/background.gif);
	background-repeat: repeat;
	font-family:"Century Gothic", Tahoma;
	font-size: 13px;
	line-height: 16px;
	color:#FFF;
	margin:0 auto;*/
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}
