<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Weather</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <a href="home.html" th:href="@{/}" class="btn btn-primary" th:text="back"/>

    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 30px;">
            <div class="panel panel-default">
                <div th:text="${place}" class="panel-heading"/>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>utc time</th>
                        <th>temperature</th>
                        <th>pressure</th>
                        <th>humidity</th>
                        <th>precipitation intensity</th>
                        <th>dew point</th>
                        <th>wind speed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="f : ${calculated}">
                        <td th:text="${#calendars.format(f.time, 'dd.MM.yyyy HH:mm')}"/>
                        <td th:text="${#numbers.formatDecimal(f.temperature, 1, 'NONE', 1, 'POINT')+' &deg;C'}"/>
                        <td th:text="${#numbers.formatDecimal(f.pressure, 1, 'NONE', 0, 'POINT')+' hPa'}"/>
                        <td th:text="${#numbers.formatDecimal(f.humidity, 1, 'NONE', 0, 'POINT')+ ' %'}"/>
                        <td th:text="${#numbers.formatDecimal(f.precipIntensity, 1, 'NONE', 1, 'POINT') + ' mm'}"/>
                        <td th:text="${#numbers.formatDecimal(f.dewPoint, 1, 'NONE', 1, 'POINT')+ ' &deg;C'}"/>
                        <td th:text="${#numbers.formatDecimal(f.windSpeed, 1, 'NONE', 1, 'POINT')+' km/h'}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>