<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Weather</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div layout:fragment="content">

    <form th:attr="action=@{/}"
          th:object="${defineLocationModel}"
          action="define.html"
          method="post">
        <div class="row">
            <div class="col-md-3"/>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="City, Country" th:field="*{place}"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Add</button>
                    </span>
                </div>
                <div th:if="${#httpServletRequest.getParameter('valid') == 'false'}" class="alert alert-danger"
                     style="margin-top: 30px" role="alert">
                    Specify the <strong>location more precisely</strong> please!
                </div>
            </div>
            <div class="col-md-3"/>
        </div>
    </form>

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-2"/>
        <div class="col-md-8">
            <ul class="list-group">
                <li th:each="location : ${locations}" class="list-group-item">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="location.html"
                                   th:href="@{/{id}/{place}(place=${location.place},id=${location.id})}"
                                   th:text="${location.place}"/>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <a href="remove.html" th:href="@{/remove/{id}(id=${location.id})}" th:text="remove"
                                   class="btn btn-primary btn-danger" role="button"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-2"/>
    </div>
</div>
</body>
</html>